@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lobster+Two&family=Luxurious+Roman&display=swap");
body {
  background-image: url("https://i.pinimg.com/originals/03/a2/8a/03a28a0f34624e25c00b259438c244df.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.titulo {
  text-align: center;
  font-family: "Redressed", cursive;
  color: #f99b8a;
}

.contenedor-imagenes {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  width: 120px;
  height: 120px;
}
