body {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgb(19, 8, 219) 0%,
      rgb(26, 39, 82) 27%,
      rgb(3, 87, 241) 100%
    );
  }
  .contenedor {
    display: flex;
    align-items: center;
  }
  .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titulo {
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    color: aliceblue;
  }
  .imagenes {
    display: flex;
    justify-content: space-around;
  }
  .imagen {
    height: 400px;
  }