* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuerpo {
  background: linear-gradient(
    to left,
    rgba(27, 56, 119, 0.74),
    rgba(101, 136, 211, 0.74),
    rgba(27, 56, 119, 0.74)
  );
}

.titulo {
  text-align: center;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(47, 65, 114);
}

.seccion {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.foto-animal {
  width: 100px;
  height: 100px;
  border-radius: 25%;
}

.contenedor-grid {
  display: grid;
  grid-template-areas:
    "img img img img img"
    "img img img img img";
}

.contenedor-grid div {
  margin: 1rem;
}
