.main-text {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.photo {
  height: 100px;
  width: 100px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 100px;
}
